<nav class="navbar">

    <div class="logo">
        <a routerLink="/home">
            <img src="assets/blog64.png" alt="Logo">
        </a>
    </div>

    <ul>

        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/feed">Feed</a></li>
        <li><a routerLink="/contact">Help</a></li>

    </ul>

    <div>

        @if(isLogin){
        <a routerLink="/dashboard" class="dashboard-btn">Profile</a>
        <a routerLink="/login" class="logout-btn" (click)="logout()">Logout</a>
        } @else {
        <a routerLink="/login" class="login-btn">Login</a>
        <a routerLink="/register" class="register-btn">Register</a>
        }

    </div>

</nav>