<div class="post-card">

  <div class="post-header">
    <div class="user-info">
      <img
        src="https://i.pravatar.cc/50"
        alt="user">

      <div>
        <h4>{{post.author}}</h4>
        <span></span>
      </div>
    </div>
  </div>

  <h2 class="post-title">
    {{post.title}}
  </h2>

  <p class="post-content">
    {{post.body}}
  </p>

  <img
    class="post-image"
    src={{post.url}}
    alt="post">

  <div class="post-footer">

    <div class="stats">
      ❤️ {{post.like}}
    </div>

    <div class="stats">
      💬 {{post.comments?.length}}
    </div>

    <button class="read-btn">
      <a routerLink="">Read more</a>
    </button>

  </div>

</div>